<div >
  <mat-toolbar color="primary" class="my-toolbar" style="margin: 0;">
    <span>{{title}}'s Company</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]='appMenu'><mat-icon>menu</mat-icon>Menu</button>
  </mat-toolbar>
</div>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
